@using UI.Properties;

@model UI.Models.ItAtendimentoViewModel

@{
  ViewBag.Title = Resources.Details + " " + Resources.ItAtendimentoViewModel;
}
<div class="container">
  <br />
  <br />
  <h2>@Resources.Details</h2>

  <div>
    <h4>@Resources.ItAtendimentoViewModel</h4>
    <hr />

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold btns">
        @Html.DisplayNameFor(model => model.AtendimentoId):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Atendimento.Denominacao)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold btns">
        @Html.DisplayNameFor(model => model.Sentido):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Sentido)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold btns">
        @Html.DisplayNameFor(model => model.Percurso):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Percurso)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold btns">
        @Html.DisplayNameFor(model => model.Extensao):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Extensao)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold btns">
        @Html.DisplayNameFor(model => model.PavimentoId):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Via.Denominacao)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold btns">
        @Html.DisplayNameFor(model => model.Abrangencia):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Abrangencia)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold btns">
        @Html.DisplayNameFor(model => model.CondicaoId):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.CondicaoCap)
      </div>
    </div>
  </div>

  <div>
    @Html.ActionLink(Resources.Update, "Edit", new { id = Model.Id }, new { @class = "btn btn-dark btn-sm" })
    <div class="btn btn-outline-dark btn-sm">
      @Html.ActionLink(Resources.BackToList, "Index")
    </div>
  </div>
</div>
