@using UI.Properties;

@model UI.Models.CVeiculoViewModel

@{
  ViewBag.Title = Resources.Delete + " " + Resources.CVeiculoViewModel;
}

<div class="container">
  <br />
  <br />

  <h2>@Resources.Delete</h2>

  <h3>@Resources.DeleteConfirm</h3>
  <div>
    <h4>@Resources.CVeiculoViewModel</h4>
    <hr />

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold">
        @Html.DisplayNameFor(model => model.Categoria):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Categoria)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold">
        @Html.DisplayNameFor(model => model.Classe):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Classe)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold">
        @Html.DisplayNameFor(model => model.Minimo):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Minimo)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold">
        @Html.DisplayNameFor(model => model.Maximo):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Maximo)
      </div>
    </div>

    @using (Html.BeginForm()) {
      @Html.AntiForgeryToken()

      <div class="form-actions no-color">
        <input type="submit" value="@Resources.Delete" class="btn btn-danger btn-sm" />
        <div class="btn btn-outline-dark btn-sm">
          @Html.ActionLink(Resources.BackToList, "Index")
        </div>
      </div>
    }
  </div>
</div>
