@using UI.Properties;

@model UI.Models.TerminalViewModel

@{
  ViewBag.Title = Resources.Delete + " " + Resources.TerminalViewModel;
}
<div class="container">
  <br />
  <br />
  <h2>@Resources.Delete</h2>

  <h3>@Resources.DeleteConfirm</h3>
  <div>
    <h4>@Resources.TerminalViewModel</h4>
    <hr />

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold btns">
        @Html.DisplayNameFor(model => model.EmpresaId):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Empresa.Fantasia)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold btns">
        @Html.DisplayNameFor(model => model.Prefixo):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Prefixo)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold btns">
        @Html.DisplayNameFor(model => model.Denominacao):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Denominacao)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold btns">
        @Html.DisplayNameFor(model => model.Cnpj):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Cnpj)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold btns">
        @Html.DisplayNameFor(model => model.IEstadual):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.IEstadual)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold btns">
        @Html.DisplayNameFor(model => model.IMunicipal):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.IMunicipal)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold btns">
        @Html.DisplayNameFor(model => model.Endereco):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Endereco)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold btns">
        @Html.DisplayNameFor(model => model.EnderecoNo):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.EnderecoNo)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold btns">
        @Html.DisplayNameFor(model => model.Complemento):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Complemento)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold btns">
        @Html.DisplayNameFor(model => model.Cep):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Cep)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold btns">
        @Html.DisplayNameFor(model => model.Bairro):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Bairro)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold btns">
        @Html.DisplayNameFor(model => model.Municipio):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Municipio)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold btns">
        @Html.DisplayNameFor(model => model.UfId):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.UfId)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold btns">
        @Html.DisplayNameFor(model => model.Telefone):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Telefone)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold btns">
        @Html.DisplayNameFor(model => model.Email):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Email)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold btns">
        @Html.DisplayNameFor(model => model.Horario):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Horario)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold btns">
        @Html.DisplayNameFor(model => model.Latitude):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Latitude)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold btns">
        @Html.DisplayNameFor(model => model.Longitude):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Longitude)
      </div>
    </div>

    @using (Html.BeginForm()) {
      @Html.AntiForgeryToken()

      <div class="form-actions no-color">
        <input type="submit" value="@Resources.Delete" class="btn btn-danger btn-sm" />
        <div class="btn btn-outline-dark btn-sm">
          @Html.ActionLink(Resources.BackToList, "Index")
        </div>
      </div>
    }
  </div>
</div>
