@using UI.Properties;

@model UI.Models.EPeriodoViewModel

@{
  ViewBag.Title = Resources.Delete + " " + Resources.EPeriodoViewModel;
}

<div class="container">
  <br />
  <br />
  <h2>@Resources.Delete</h2>

  <h3>@Resources.DeleteConfirm</h3>
  <div>
    <h4>@Resources.EPeriodoViewModel</h4>
    <hr />

    <div class="row margin-top">
      <div class="col-sm-3 font-weight-bold ">
        @Html.DisplayNameFor(model => model.EmpresaId):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Empresa.Fantasia)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-3 font-weight-bold btns">
        @Html.DisplayNameFor(model => model.PeriodoId):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Periodo.Denominacao)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-3 font-weight-bold btns">
        @Html.DisplayNameFor(model => model.Denominacao):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Denominacao)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-3 font-weight-bold btns">
        @Html.DisplayNameFor(model => model.Velocidade):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Velocidade)
      </div>
    </div>

    @using (Html.BeginForm()) {
      @Html.AntiForgeryToken()

      <div class="form-actions no-color">
        <input type="submit" value="@Resources.Delete" class="btn btn-danger btn-sm" />
        <div class="btn btn-outline-dark btn-sm">
          @Html.ActionLink(Resources.BackToList, "Index")
        </div>
      </div>
    }
  </div>
</div>
