@using UI.Properties;

@model UI.Models.AtendimentoViewModel

@{
  ViewBag.Title = Resources.Details + " " + Resources.AtendimentoViewModel;
}

<div class="container">
  <br />
  <br />
  <h2>@Resources.Details</h2>

  <div>
    <h4>@Resources.AtendimentoViewModel</h4>
    <hr />

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold">
        @Html.DisplayNameFor(model => model.LinhaId):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Linha.Denominacao)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold">
        @Html.DisplayNameFor(model => model.Prefixo):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Prefixo)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold">
        @Html.DisplayNameFor(model => model.Denominacao):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Denominacao)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold">
        @Html.DisplayNameFor(model => model.Uteis):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Uteis)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold">
        @Html.DisplayNameFor(model => model.Sabados):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Sabados)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold">
        @Html.DisplayNameFor(model => model.Domingos):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Domingos)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold">
        @Html.DisplayNameFor(model => model.ExtensaoAB):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.ExtensaoAB)
      </div>
    </div>


    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold">
        @Html.DisplayNameFor(model => model.ExtensaoBA):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.ExtensaoBA)
      </div>
    </div>


    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold">
        @Html.DisplayNameFor(model => model.Extensao):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Extensao)
      </div>
    </div>
  </div>

  @Html.ActionLink(Resources.Update, "Edit", new { id = Model.Id }, new { @class = "btn btn-default btn-sm" })
  <div class="btn btn-outline-dark btn-sm">
    @Html.ActionLink(Resources.BackToList, "Index")
  </div>
</div>
