@using UI.Properties;

@model UI.Models.PtLinhaViewModel

@{
  ViewBag.Title = Resources.Delete + " " + Resources.PtLinhaViewModel;
}
<div class="container">
  <br />
  <br />
  <h2>@Resources.Delete</h2>

  <h3>@Resources.DeleteConfirm</h3>
  <div>
    <h4>@Resources.PtLinhaViewModel</h4>
    <hr />

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold btns">
        @Html.DisplayNameFor(model => model.LinhaId):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Linha.Denominacao)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold btns">
        @Html.DisplayNameFor(model => model.Sentido):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Sentido)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold btns">
        @Html.DisplayNameFor(model => model.PontoId):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.PontoCap)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold btns">
        @Html.DisplayNameFor(model => model.Fluxo):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.FluxoCap)
      </div>

      <div class="row margin-top">
        <div class="col-sm-2 font-weight-bold btns">
          @Html.DisplayNameFor(model => model.OrigemId):
        </div>
        <div class="col-sm">
          @Html.DisplayFor(model => model.Origem.Ponto.Identificacao)
        </div>
      </div>

      <div class="row margin-top">
        <div class="col-sm-2 font-weight-bold btns">
          @Html.DisplayNameFor(model => model.DestinoId):
        </div>
        <div class="col-sm">
          @Html.DisplayFor(model => model.Destino.Ponto.Identificacao)
        </div>
      </div>
    </div>

    @using (Html.BeginForm()) {
      @Html.AntiForgeryToken()

      <div class="form-actions no-color">
        <input type="submit" value="@Resources.Delete" class="btn btn-danger btn-sm" />
        <div class="btn btn-outline-dark btn-sm">
          @Html.ActionLink(Resources.BackToList, "Index")
        </div>
      </div>
    }
  </div>
</div>
