@using UI.Properties;

@model UI.Models.ItTroncoViewModel

@{
  ViewBag.Title = Resources.Delete + " " + Resources.ItTroncoViewModel;
}
<div class="container">
  <br />
  <br />

  <h2>@Resources.Delete</h2>

  <h3>@Resources.DeleteConfirm</h3>
  <div>
    <h4>@Resources.ItTroncoViewModel</h4>
    <hr />
    <div class="dl-horizontal">
      <div class="row margin-top">
        <div class="col-sm-2 font-weight-bold btns">
          @Html.DisplayNameFor(model => model.TroncoId):
        </div>
        <div class="col-sm">
          @Html.DisplayFor(model => model.Tronco.Denominacao):
        </div>
      </div>

      <div class="row margin-top">
        <div class="col-sm-2 font-weight-bold btns">
          @Html.DisplayNameFor(model => model.Sentido):
        </div>
        <div class="col-sm">
          @Html.DisplayFor(model => model.Sentido):
        </div>
      </div>

      <div class="row margin-top">
        <div class="col-sm-2 font-weight-bold btns">
          @Html.DisplayNameFor(model => model.Percurso):
        </div>
        <div class="col-sm">
          @Html.DisplayFor(model => model.Percurso):
        </div>
      </div>

      <div class="row margin-top">
        <div class="col-sm-2 font-weight-bold btns">
          @Html.DisplayNameFor(model => model.Extensao):
        </div>
        <div class="col-sm">
          @Html.DisplayFor(model => model.Extensao):
        </div>
      </div>

      <div class="row margin-top">
        <div class="col-sm-2 font-weight-bold btns">
          @Html.DisplayNameFor(model => model.PavimentoId):
        </div>
        <div class="col-sm">
          @Html.DisplayFor(model => model.Via.Denominacao):
        </div>
      </div>

      <div class="row margin-top">
        <div class="col-sm-2 font-weight-bold btns">
          @Html.DisplayNameFor(model => model.Abrangencia):
        </div>
        <div class="col-sm">
          @Html.DisplayFor(model => model.Abrangencia):
        </div>
      </div>

      <div class="row margin-top">
        <div class="col-sm-2 font-weight-bold btns">
          @Html.DisplayNameFor(model => model.CondicaoId):
        </div>
        <div class="col-sm">
          @Html.DisplayFor(model => model.CondicaoCap):
        </div>
      </div>
    </div>

    @using (Html.BeginForm()) {
      @Html.AntiForgeryToken()

      <div class="form-actions no-color">
        <input type="submit" value="@Resources.Delete" class="btn btn-danger btn-sm" />
        <div class="btn btn-outline-dark btn-sm">
          @Html.ActionLink(Resources.BackToList, "Index")
        </div>
      </div>
    }
  </div>
</div>
