@using UI.Properties;

@model UI.Models.DominioViewModel

@{
  ViewBag.Title = Resources.Details + " " + Resources.DominioViewModel;
}
<div class="container">
  <br />
  <br />
  <h2>@Resources.Details</h2>

  <div>
    <h4>@Resources.DominioViewModel</h4>
    <hr />

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold">
        @Html.DisplayNameFor(model => model.Denominacao):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Denominacao)
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-sm-2 font-weight-bold">
        @Html.DisplayNameFor(model => model.Descricao):
      </div>
      <div class="col-sm">
        @Html.DisplayFor(model => model.Descricao)
      </div>
    </div>
  </div>
  <div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-dark btn-sm" })
    <div class="btn btn-outline-dark btn-sm">
      @Html.ActionLink(Resources.BackToList, "Index")
    </div>
  </div>
</div>
