@using UI.Properties;

@model UI.Models.LnTroncoViewModel

@{
  ViewBag.Title = Resources.Details + " " + Resources.LnTerminalViewModel;
}
<div class="container">
  <br />
  <br />
  <h2>@Resources.Details</h2>

  <div>
    <h4>@Resources.LnTroncoViewModel</h4>
    <hr />

    <div class="dl-horizontal">
      <div class="row margin-top">
        <div class="col-sm-2 font-weight-bold btns">
          @Html.DisplayNameFor(model => model.TroncoId):
        </div>
        <div class="col-sm">
          @Html.DisplayFor(model => model.Tronco.Denominacao):
        </div>
      </div>

      <div class="row margin-top">
        <div class="col-sm-2 font-weight-bold btns">
          @Html.DisplayNameFor(model => model.LinhaId):
        </div>
        <div class="col-sm">
          @Html.DisplayFor(model => model.Linha.Denominacao):
        </div>
      </div>
    </div>
  </div>

  <div>
    @Html.ActionLink(Resources.Update, "Edit", new { id = Model.Id }, new { @class = "btn btn-dark btn-sm" })
    <div class="btn btn-outline-dark btn-sm">
      @Html.ActionLink(Resources.BackToList, "Index")
    </div>
  </div>
</div>
