@using UI.Properties;

@using PagedList;
@using PagedList.Mvc;

@using Bll.Lists;
@using Bll.Services;
@using UI.Security;

@model IEnumerable<UI.Models.HorarioViewModel>

@{
  ViewBag.Title = Resources.Filter + " " + Resources.HorarioViewModel;

  MvcUser user = System.Web.HttpContext.Current.User as MvcUser;

  List<SelectListItem> searchFields = new List<SelectListItem>() {
      new SelectListItem { Value = "1", Text = Resources.DiaId },
      new SelectListItem { Value = "2", Text = Resources.DiaId + " + " + Resources.PeriodoId}
  };
  SelectList workDay = new SelectList(new Workday().GetAll(), "Id", "Name");
  SelectList periodos = new SelectList(new EPeriodoService(user.ID).GetSelect(
                                               q => new {
                                                 Id = q.Id.ToString(), Name = q.Empresa.Fantasia + " | " + q.Denominacao
                                               }), "Id", "Name");
}

<div class="container left-widt">
  <br />
  <br />
  <h2>@Resources.HorarioViewModel</h2>

  @using (Html.BeginForm("Filter", "Horarios", FormMethod.Get)) {
    <p>
      <div class="form-inline">
        <div class="form-group">
          @Html.DropDownList("CurrentFilter", searchFields, ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control form-control-sm" })
          @Html.DropDownList("DiaId", workDay, ViewBag.DiaId as string, htmlAttributes: new { @class = "form-control form-control-sm" })
          @Html.DropDownList("PeriodoId", periodos, ViewBag.PeriodoId as string, htmlAttributes: new { @class = "form-control form-control-sm" })
          <input type="submit" value="@Resources.Search" class="btn btn-default btn-sm" />
        </div>
      </div>
    </p>
  }

  <table class="table">
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.LinhaId)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.DiaId)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Sentido)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Inicio)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.AtendimentoId)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.PeriodoId)
      </th>
      <th></th>
    </tr>

    @foreach (var item in Model) {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Linha.Denominacao)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.DiaIdName)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Sentido)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Inicio)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Atendimento.Denominacao)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.PrLinha.EPeriodo.Denominacao)
        </td>
        <td class="in-line left-smaller">
          @Html.ActionLink(Resources.Update, "Edit", new { id = item.Id }, new { @class = "btn btn-outline-dark btn-sm" }) |
          @Html.ActionLink(Resources.Details, "Details", new { id = item.Id }, new { @class = "btn btn-outline-dark btn-sm" }) |
          @Html.ActionLink(Resources.Delete, "Delete", new { id = item.Id }, new { @class = "btn btn-outline-dark btn-sm" })
        </td>
      </tr>
    }
  </table>

  @if ((Model as IPagedList).PageCount > 0) {
    @Resources.Page@:&nbsp;@((Model as IPagedList).PageNumber) @Resources.Of @((Model as IPagedList).PageCount)
  }
  @Html.PagedListPager(Model as IPagedList, page => Url.Action(
      "Filter", new { currentFilter = ViewBag.CurrentFilter, diaId = ViewBag.DiaId, periodoId = ViewBag.PeriodoId, page }))

  <div class="btn btn-outline-dark btn-sm">
    @Html.ActionLink(Resources.BackToList, "Edit", controllerName: "Linhas", routeValues: new { id = ViewContext.RouteData.Values["id"] }, htmlAttributes: null)
  </div>
</div>
